
* {
  margin: 0;
  scroll-behavior: smooth;
  cursor: none;
}

::-webkit-scrollbar {
  display: none;
}
  

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh; 
  height: 100vw;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
}


article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 10rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: termina, sans-serif;
  color: white;
  scroll-snap-align: start;
}

.logo {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Climate Crisis', sans-serif;
  color: white;
  z-index: 1000; /* Ensures it's above other elements */
}

img.animated-gif{
  width: 300px;
  height: 400px;
  padding: 40px;
}

h1 {
  color: white;
  font-size: 7rem;
}

.about {
  font-family: "Climate Crisis", serif;
  font-size: 10rem;
  letter-spacing: 5px;
  color: white;
  font-weight: 900;
}

p1 {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 1.3;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
  text-align: center;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.section-three {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

h3 {
  color: white;
  display: flex;
  justify-content: flex-start;
}

/* Projects title animation */
.fading {
  font: 900 10rem sans-serif;
  color: white;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
      opacity: 0.2;
  }

  50% {
      color: #FF004D;
      opacity: 1;
  }

  100% {
      opacity: 0.2;
  }
}

/* Projects carousel */
.gallery {
  width: 100%;
  overflow-x: hidden;
  z-index: 99;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.itemside{
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 1.2s ease;
  
  &:hover{
    flex: 3.5;
  }
}

.item-2 { 
  background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnduMnJ5NTlhcmJ4MHY0YjBxbjM4b2FkZ2Q3ZXV1Y3lwZ2M3Y204byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/4rpsikLx1HWnK/giphy.gif');
}

.item-3 { 
  background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHJxcjEzYXhsNnlzaWhjcDh1bXBkcXlrdW80Nnp4OGNmMm1xZW03biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NTn8FQs5zIlXO/giphy.gif');
}

.item-4 { 
  background-image: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExNXhzOG5tbWlnYzg0YTM0NjEwMXI1djltODJ3bWt6Y3RoaHVqeGpvciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/FpmyVd5td9Vio/giphy.gif');
}

/* Loading Screen*/
#loading-screen {
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9999;
}

#progress-bar {
  width: 0%;
  height: 100vh;
  position: absolute;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

#progress-counter {
  color: #FAF7EE;
  font-size: 23vw;
  font-family: "Climate Crisis", serif;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background: none;
}

body {
  --dot-bg: #FAF7EE;
  --dot-color: grey;
  --dot-size: 1px;
  --dot-space: 22px;
}

section:nth-of-type(odd) {
  background: black;
}

section:nth-of-type(even) {
  background: black;
}

/* Custom cursor /*/
@media (pointer: coarse)
{
  .media {
    display: none;
  }
}

.cursor {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 90%;
  pointer-events: none;
  z-index: 111;
  border: 3px solid white;
  background: white;
  transition: all 0.2s ease-out;
  animation: moveCursor1 .5s infinite alternate;
  mix-blend-mode: difference;
}

.expand {
  background: #FF004D;
  animation: moveCursor2 .3s forwards;
  border: 1px solid #FF004D;
}

@keyframes moveCursor1 {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(.8);
  }
}

@keyframes moveCursor2 {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(2);
  }

  100% {
      transform: scale(1);
      opacity: 0;
  }
}

/* contacts*/
.contact-title {
  font-family: "Climate Crisis", serif;
  font-size: 5rem;
}

.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
  margin: 3rem;
}

.outside {
  width: 100%;
  color: rgb(183, 179, 183);
  font-size: 5rem;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  border-bottom: 1px solid #FF004D;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.secondary {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FF004D;
  color: white;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outside:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.inside {
  font-size: 4.5rem;
  text-decoration: none;
  color: inherit;
}

.section-five {
  color:white;
}

#container {
  position: absolute;
  margin: auto;
  width: 100vw;
  height: 80pt;
  top: 0;
  bottom: 0;

  filter: url(#threshold) blur(0.6px);
}

#morph1,
#morph2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-size: 80pt;

  text-align: center;

  user-select: none;
  font-family: "Climate Crisis", serif;

}


